mixin customInput(type, name, placeholder, label, error, errorText)
    if error
        div.input.input_error
            input.input__inp(type= type name= name placeholder= placeholder required)
            label.input__label= label
            .input__error-text=errorText
    else
        div.input
            input.input__inp(type= type name= name placeholder= placeholder required)
            label.input__label= label
