extends src/layout/main

block variables
  - var pageTitle = 'Navigation'
  - var mainClass = 'navigation'

block content
    nav
        a(href=('src/pages/signIn/index.html') target=('_blank')) Авторизация
        a(href=('src/pages/signUp/index.html') target=('_blank')) Регистрация
        a(href=('src/pages/profile/index.html') target=('_blank')) Профиль
        a(href=('src/pages/chat/index.html') target=('_blank')) Чат
        a(href=('src/pages/errors/404.html') target=('_blank')) 404
block script
    script(type="module" src="src/app.js")
