extends ../../layout/main

block variables
  - var pageTitle = 'Not Found'
  - var mainClass = 'error-page'

block content
    div.error-page__container
        h2.error-page__number 404
        p.error-page__text Не туда попали
        a.link Назад к чатам

