extends ../../layout/main
block styles
    link(rel='stylesheet', href='styles.scss')

block variables
  - var pageTitle = 'Bad request'
  - var mainClass = 'error-page'

block content
    include ../../components/errorPages/index
    +errorPage('500', 'Мы уже фиксим', 'Назад к чатам')

