extends ../../layout/main

block variables
  - var pageTitle = 'Profile'
  - var mainClass = 'profile'

block content
    div.profile__back
        span.profile__back-icon
            span.material-symbols-outlined arrow_back
    div.profile__content
        form.profile__form
            div.profile__upload-btn
                span.material-symbols-outlined photo_library
            p.profile__name Мигель
            div.profile__form-fields
                div.profile__form-item
                    label.profile__form-label Почта
                    input.profile__form-input(type= 'text' name= 'email' placeholder= ' ' value= 'dmigel@yandex.ru' disabled)
                div.profile__form-item
                    label.profile__form-label Логин
                    input.profile__form-input(type= 'text' name= 'login' placeholder= ' ' value= 'dmigel' disabled)
                div.profile__form-item
                    label.profile__form-label Имя
                    input.profile__form-input(type= 'text' name= 'firstname' placeholder= ' ' value= 'Мигель' disabled)
                div.profile__form-item
                    label.profile__form-label Фамилия
                    input.profile__form-input(type= 'text' name= 'lastname' placeholder= ' ')
                div.profile__form-item
                    label.profile__form-label Имя в чате
                    input.profile__form-input(type= 'text' name= 'chatname' placeholder= ' ')
                div.profile__form-item
                    label.profile__form-label Телефон
                    input.profile__form-input(type= 'tel' name= 'phone' placeholder= ' ')
            div.profile__form-btn
                button.button Сохранить
            div.profile__form-fields
                div.profile__form-item
                    button.button.button_link Изменить данные
                div.profile__form-item
                    button.button.button_link Изменить пароль
                div.profile__form-item
                    button.button.button_link.button_link-red Выйти
    div.modal.modal_small
        div.modal__content
            h3.modal__title.modal__title_error Загрузить файл
            div.modal__upload-info
                p.modal__upload-filename pic.jpg
                div.modal__upload-link
                    a.link Выбрать файл на компьютере
            button.button Поменять
            button.button.button_link.button_link-red.button_link-last Нужно выбрать файл











