@import "/src/variables";

.profile {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 100vh;
  overflow: hidden;

  &__back {
    display: grid;
    place-items: center;
    background-color: $color-white-gray;
    border-right: 1px solid $color-gray-border;
  }
  &__back-icon {
    display: grid;
    place-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $color-blue;
    cursor: pointer;
    transition-duration: .3s;
    &:hover {
      background-color: $color-blue-hover;
    }
    &:active {
      background-color: $color-blue-focus;
    }

    .material-symbols-outlined {
      color: white;
      font-size: 18px;
      text-decoration: none;
    }
  }

  &__content {
    display: grid;
    justify-content: center;
    padding: 60px 0;
    overflow: auto;
  }

  &__upload-btn {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $color-another-gray;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;

    &:before {
      content: "Поменять аватар";
      color: $color-white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: rgba(0,0,0,0.5);
      border-radius: 50%;
      display: grid;
      place-items: center;
      opacity: 0;
      transition-duration: .3s;
    }

    &:hover:before {
      opacity: 1;
    }

    span {
      color: #CDCDCD;
      font-size: 40px;
    }
  }

  &__name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  &__form-fields {
    margin: 60px auto;
    display: grid;
    width: 510px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form-item {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr;
    align-items: center;
    border-bottom: 1px solid $color-gray-border;

    &:last-child {
      border: none;
    }
  }

  &__form-label {
    position: absolute;
    font-size: 13px;
    font-weight: 500;
  }
  &__form-input {
    padding-left: 100px;
    text-align: right;
    color: $color-gray;
    height: 32px;
    border: none;
    outline: none;
    font-size: 13px;
    transition-duration: .3s;
    border-bottom: 1px solid transparent;

    &:disabled {
      background-color: transparent;
    }
    &:focus {
      border-bottom: 1px solid $color-blue;
    }
  }
  &__form-btn {
    width: 280px;
    margin: 0 auto;
  }

}
