extends ../../../layout/main

block styles
    link(rel='stylesheet', href='../authentication.scss')

block variables
    - var pageTitle = 'Sign Up'
    - var mainClass = 'authentication'

block content
    include ../../../components/input/index
    include ../../../components/button/index
    form.authentication-form(action= '#' method="")
        .authentication-form__top
            h3.authentication-form__title Регистрация
            .authentication-form__inputs
                +customInput('email', 'email', ' ', 'Почта')
                +customInput('text', 'login', ' ', 'Логин')
                +customInput('text', 'first_name', ' ', 'Имя')
                +customInput('text', 'second_name', ' ', 'Фамилия')
                +customInput('text', 'phone', ' ', 'Телефон')
                +customInput('password', 'password', ' ', 'Пароль')
                +customInput('password', 'repeatpassword', ' ', 'Пароль еще раз', true, 'Пароли не совпадают')
        .authentication-form__bottom
            +linkButton('Зарегистрироваться', 'submit', '')
            a.link(href= '/src/pages/signIn/') Войти
