extends ../../layout/main

block styles
    link(rel='stylesheet', href='../authentication.scss')

block variables
    - var pageTitle = 'Sign In'
    - var mainClass = 'authentication'

block content
    include ../../components/input/index
    include ../../components/button/index
    form.authentication-form(action= '#' method="")
        div.authentication-form__top
            h3.authentication-form__title Вход
            div.authentication-form__inputs
                +customInput('text', 'login', ' ', 'Логин')
                +customInput('password', 'password', ' ', 'Пароль')
        div.authentication-form__bottom
            +linkButton('Войти', 'submit', '')
            a.link(href= '/src/pages/signUp/') Зарегистрироваться
