extends ../../layout/main

block variables
    - var pageTitle = 'Sign In'
    - var mainClass = 'authentication'

block content
    form.authentication-form(action= '')
        div.authentication-form__top
            h3.authentication-form__title Вход
            div.authentication-form__inputs
                div.input
                    input.input__inp(type= 'text' name= 'login' placeholder= ' ' required)
                    label.input__label Логин
                div.input
                    input.input__inp(type= 'password' name= 'password' placeholder= ' ' required)
                    label.input__label Пароль

        div.authentication-form__bottom
            button.button Авторизоваться
            button.button.button_link Нет аккаунта?
