$color-white-blue: #E4EDFD;
$color-blue: #3369F3;
$color-blue-hover: #4878f3;
$color-blue-focus: #1c58f1;
$color-white: #ffffff;
$color-red: #FF2F2F;
$color-black: #1E1E1E;
$color-gray: #999999;
$color-another-gray: #EFEFEF;
$color-gray-border: #EAEAEA;
$color-white-gray: #FBFBFB;
